/*封面*/

.bg{
    background-image: url(imgs/bgnew.png);
    height: 900px;
    width:100%;
    background-size:cover; 
    background-position:center;
    position: relative;
    left: 0;
    top: 0
}


/*正文*/
.word{
    text-indent:2em;
    line-height:28px;
    text-align:left;
}
/*头图*/
div#name{
    padding-right:20px
}

div#total{
    padding-right:150px;
    padding-left:150px;
}
/*引入*/
.intro{
    margin:10% 15% 10% 15%
}
.intro2{
    margin-left:15%;
    margin-right:15%;
    margin-top:4%;
    margin-bottom:4%;
}
.intro3{
    margin-left:15%;
    margin-right:15%;
    margin-top:4%;
    margin-bottom:4%;
}
.intro4{
    margin-left:15%;
    margin-right:15%;
    margin-top:4%;
    padding-bottom:4%;
}
.intro5{
    margin-left:15%;
    margin-right:15%;
    margin-top:4%;
}

/*目录*/
    /*flex布局*/
*{
    margin: 0;
}
html,body{
    height: 100%;
}
#parent{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    display:flex;
    align-items:center;

}
#parent>div{
    flex: 1 1 auto;
    display: inline-block;

}
#parent>div:nth-child(1){
    background-color: rgb(255, 255, 255);
}

#parent>div:nth-child(2){
   background-color: rgb(255, 255, 255);
}
#parent>div:nth-child(3){
    background-color: rgb(255, 255, 255);

}
/*三个标题总的*/
div#title{
    text-align:left;
    margin-bottom: 80px;
}

/*第一段时间轴*/
.head_tran{

    margin:auto;




}
.history{
    background-image: url(imgs/pic1new.png);
    background-repeat:no-repeat;
    width:100%;
    height:800px;
    background-size:70% 70%; 
    background-position:center;
}
div#type{
    background-image: url(imgs/type.png);
    background-repeat:no-repeat;
    width:100%;
    height:750px;
    background-size:70% 70%; 
    background-position:center;
}

/*箱线图*/
#gra{
    background-image: url(imgs/grade2new.png);
    background-repeat:no-repeat;
    width:100%;
    height:1100px;
    background-size:70% 70%; 
    background-position:center;
}


/*gephi图*/
.container{
    width:800px;
    height:600px;
    margin:0 auto;
    height: 100%; 
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style:none;
    float:left;
}
.one-center{
    width:700px;
    height:620px;
    float:center;
    align-items: center; 
    vertical-align: middle;
}
button{
    width:300px;
    height:50px;
    background-color:#d08063;
    border:none;
    outline:none;
}
button:hover{
    background-color:#f5e4c3;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 40px;
    text-align: center;
}



/*评分表*/

.hover3 {
    margin-bottom:80px;
    margin-top:8px;
}
.hover4{
    margin-bottom:80px;
    margin-top:8px;
}

.gread{
    width: 400px;
    height:220px;
    vertical-align: middle;
    text-align: center;
}

    
.divcss5-4{
    border-bottom:1px dashed #000; 
    height:20px;
    width:350px;
    vertical-align: middle;
    text-align: center;
}